<%- include("header") -%>
<div class="content">
<div class="top">
  <div class="box" id="heading">
    <h1>Current Temperature</h1>
    <h2 id="Ahmedname"></h2>
    <h2 id="Ahmedwebsocket"></h2>
  </div>

  <div class="box" id="heading">
    <h1>Current Temperature</h1>
    <h2 id="danielname"></h2>
    <h2 id="danielsocket"></h2>
  </div>

  <div class="box" id="heading">
    <h1>Current Temperature</h1>
    <h2 id="Jokokodevicename"></h2>
    <h2 id="Jokokowebsocket"></h2>
  </div>

  <div class="box" id="heading">
    <h1>Current Temperature</h1>
    <h2 id="devicename"></h2>
    <h2 id="websocket"></h2>
  </div>
</div>
</div>
<div class="content">
  <div class="tablebox">
  <div class="hbox">
    <p>Device Name</p>
    <p>Temperature</p>
    <p>Humidity</p>
    <p>Time</p>
    <p>Location</p>
  </div>
    <% newListItems.forEach(function(item){%>
      <div class="box">
        <p><%=item.deviceName%></p>
        <p><%=item.temperature%></p>
        <p><%=item.humidity%></p>
        <p><%=item.time%></p>
        <p><%=item.locationName%></p>        
      </div>
      <%})%>
  </div>
</div>
</div>

  <script>
    function IsJsonString(str) {
  try {
      JSON.parse(str);
  } catch (e) {
      return false;
  }
  return true;
}

    var ws = new WebSocket("ws://coldfeetwebsocket.herokuapp.com/message")
    var websocketHeader = document.getElementById("websocket")
    var devicename = document.getElementById("devicename")
    ws.onopen = function(){
    console.log("connected to websocket")
    }

    ws.onmessage = function(event){
    console.log(event.data)
    if(IsJsonString(event.data)){
      var json = JSON.parse(event.data)
      if(json.device.deviceName ==="Jokoko"){
        Jokokodevicename.innerHTML = json.device.deviceName 
        Jokokowebsocket.innerHTML = json.measurement.temperature
      }
      if(json.device.deviceName ==="Daniel"){
        danielname.innerHTML = json.device.deviceName
        danielsocket.innerHTML = json.measurement.temperature
      }if(json.device.deviceName ==="Ahmed"){
        Ahmedname.innerHTML = json.device.deviceName
        Ahmedwebsocket.innerHTML = json.measurement.temperature
      }if(json.device.deviceName ==="VinniesLemonadas"){
        devicename.innerHTML = json.device.deviceName
        websocket.innerHTML = json.measurement.temperature
      }
      
    }
    ws.onclose = function(){
      ws = new WebSocket("ws://coldfeetwebsocket.herokuapp.com/message")
    }
    }

  </script>

  
<%- include("footer") -%>
